/*=======================================
  Brand Colors
=======================================*/

$brand-primary : #1B6443; // Green
$brand-accent : #ffce08;  // Yellow
$brand-dark : #2d2d2d;    // Dark Grey