/*=======================================
  Brand Colors
=======================================*/

$brand-primary : #0088cc; // Blue
$brand-accent : #f08036;  // Orange
$brand-dark : #2d2d2d;    // Dark Grey