extends layouts/default
block content

  section.intro
    .container
      h1 Website Title
      h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam sequi repellat quas nobis, sapiente explicabo commodi id eveniet.
    
  
  section#about.main.about
    .container
      .row
        .col-sm-8.about-content
          h2 About Our Company
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus numquam, et minus velit similique non voluptatibus ut qui ullam quae assumenda alias autem ipsum laudantium placeat eos laboriosam, tempore in.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam quasi ipsa dolore, id qui necessitatibus architecto quaerat ratione error voluptates.
          ul.list-unstyled
            li
              h3.icon-check Item One
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, repellat dicta voluptas! Consectetur, impedit provident.
            li
              h3.icon-check Item Two
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequuntur magni a, error, dignissimos eaque.
            li
              h3.icon-check Item Three
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae iusto qui itaque saepe, suscipit amet.
          a.btn.btn-primary.btn-lg(href="#contact" title="Contact Us") Contact us today
        
        #quote.col-sm-4.sidebar-container
          form.form(method="POST", action="//formspree.io/ryan@imageagent.net")
            h2 Get a <span class="thin">Quote</span>
            .form-group
              label(for="formName") Name *
              input#formName.form-control(type="text", placeholder="Enter your name", name="Name", required)
            .form-group
              label(for="formEmail") Email Address *
              input#formEmail.form-control(type="email", placeholder="Enter your email", name="Email", required)
            .form-group
              label(for="formOptions") Selection *
              select#formOptions.form-control(name="Wrap Type" required)
                option(value="Full-Wrap") Option 1
                option(value="Half-Wrap") Option 2
                option(value="Vinyl Graphic") Option 3
            input(type="hidden" name="_subject" value="Subject Line")
            input(type="hidden" name="_next" value="Redirect Link")
            input(type="text" name="_gotcha" style="display:none")
            input.btn.btn-primary.btn-lg.btn-block(type="submit", value="Send me a quote")


  section#services.main.services
    .container
      h2 Our Services
        
  
  section#work.main.work
    .container
      h2 Our Work
      


  section#contact.main.contact
    .container
      .row
        .col-sm-8
          h2 FAQs
          #accordion.panel-group(role="tablist", aria-multiselectable="true")
            
            // One
            .panel.panel-default
              a(data-toggle="collapse", data-parent="#accordion", href="#collapseOne", aria-expanded="false", aria-controls="collapseOne")
                #headingOne.panel-heading(role="tab")
                  h4.panel-title Question One
              #collapseOne.panel-collapse.collapse.i(role="tabpanel", aria-labelledby="headingOne")
                .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ab, voluptatibus omnis eveniet culpa tempora laboriosam minus enim? Aliquid cupiditate eligendi incidunt quasi voluptates porro facilis, delectus sequi laboriosam optio.

            // Two
            .panel.panel-default
              a(data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
                #headingTwo.panel-heading(role="tab")
                  h4.panel-title Question Two
              #collapseTwo.panel-collapse.collapse(role="tabpanel", aria-labelledby="headingTwo")
                .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus sint atque dolores quasi cumque nesciunt, dignissimos distinctio fugit, voluptate aliquid. Animi harum modi adipisci ullam, aliquam rerum eos repellendus assumenda.

            // Three
            .panel.panel-default
              a(data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree")
                #headingThree.panel-heading(role="tab")
                  h4.panel-title Question Three
              #collapseThree.panel-collapse.collapse(role="tabpanel", aria-labelledby="headingThree")
                .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium possimus similique repudiandae tempora, facere aliquid magni deleniti fugit sunt earum hic impedit odit itaque unde tenetur enim nihil minima voluptatum.
          
        .col-sm-4.contact-content
          h2 Contact 
            span.thin Us
          ul.list-unstyled
            li.icon-phone (555) 555-5555
            li.icon-email
              a(href="mailto:info@company.com", title="Email Our Company") info@company.com
            li.icon-map
              a(href="https://goo.gl/maps/#", title="Google Maps - Our Company") 123 Main Street
            li.icon-twitter
              a(href="https://twitter.com/ourcompany", title="Our Company on Twitter") @ourcompany
            li.icon-facebook
              a(href="https://www.facebook.com/ourcompany", title="Our Company on Facebook") Our Company
          a.btn.btn-primary.btn-lg(href="#quote") Request a quote
