extends layouts/default
block content

  section.intro
    .container
      h1 CNY Carpet Cleaning
      p.lead For over 15 years, Joe Shannon's Clean Carpet is a leading provider of quality carpet cleaning &amp; upholstery cleaning services.
  
  include includes/specials.jade

  section#about.main.about
    .container
      .row
        .col-sm-8.about-content
          h2 About Us
          p We are a family owned business. This means we offer a level of personal accountability and quality assurance that other companies just cannot match.
          ul.list-unstyled
            li
              h3 Residential Carpet Cleaning
              p Dust Mites and other allergens thrive on what your vacuum cleaner does not remove. We will clean your carpet using the hot water extraction method of cleaning.
            li
              h3 Commercial Carpet Cleaning
              p Maintaining carpets should be a priority in every office. They are expensive to purchase and they are used constantly. Grit and soil will accumulate and will significantly reduce the carpets floor life.
            li
              h3 Extract Pet Odors &amp; Stains
              p Our carpet &amp; furniture cleaning system is equipped to solve pet odor and stain problem in all types of carpets and on most upholstered furniture.
          
        
        #quote.col-sm-4.sidebar-container
          h2 Why choose us?
          p At Joe Shannon’s Clean Carpet, we go beyond standard steam cleaning providing clean and beautiful results! We start with spraying an environmentally safe pre-spray. We follow that with a deep steam cleaning, extracting all soaps, residuals and dirt, leaving your carpet standing full and looking refreshed.
          a.btn.btn-primary.btn-lg.btn-block(href="#contact" title="Contact Us") Call Us On the Carpet!


  section#services.main.services
    .container
      h2 Our Services
      p At Joe Shannon’s Clean Carpet, we understand how important your floors are to you. You live your life on your floors, and you trust that they will last you a long time. We are here to make sure that they do. We have the experience and expertise you need.
      .row.services-list
        .col-sm-4
          img(src="images/services-steam.jpg", alt="Steam Cleaning")
          h3 Steam Cleaning
          p We use all the necessary products and technology to keep your carpet and upholstery looking like new. With our powerful steam cleaners, you can be assured of a quicker drying time and carpets as clean as the day you had them installed!
        .col-sm-4
          img(src="images/services-experience.jpg", alt="Experience")
          h3 Experience
          p For over 15 years, we have been providing Auburn and surrounding Central New York areas with quality carpet cleaning and we are proud to offer our reputation to you. Our highly trained technicians understand that every carpet is different – so we know the perfect solution to your unique carpet problems.
        .col-sm-4
          img(src="images/services-above.jpg", alt="Above and Beyond")
          h3 Above &amp; Beyond
          p We go the extra mile to make your carpet look great. We start with spraying an environmentally safe pre-spray. We follow that with a deep steam cleaning, extracting all soaps, residuals and dirt, leaving your carpet standing full and looking refreshed.


  section#contact.main.contact
    .container
      .row
        .col-sm-8
          h2 FAQs
          #accordion.panel-group(role="tablist", aria-multiselectable="true")
            
            // One
            .panel.panel-default
              a(data-toggle="collapse", data-parent="#accordion", href="#collapseOne", aria-expanded="false", aria-controls="collapseOne")
                #headingOne.panel-heading(role="tab")
                  h4.panel-title Do you service homes and businesses?
              #collapseOne.panel-collapse.collapse.i(role="tabpanel", aria-labelledby="headingOne")
                .panel-body We offer both residential and commercial cleaning — when it is time to clean your home or office, we have you covered. Our friendly professionals have built a reputation based on fast response time, thorough workmanship and friendly customer service.

            // Two
            .panel.panel-default
              a(data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
                #headingTwo.panel-heading(role="tab")
                  h4.panel-title How does the process begin?
              #collapseTwo.panel-collapse.collapse(role="tabpanel", aria-labelledby="headingTwo")
                .panel-body We will take a walk-through with you of the parts of your home or office you would like cleaned, and make sure we know where the high-traffic areas are and any other information you need for us to know. We strive to provide service that is unparalleled by our competitors, and we stand by all our work with a 100% satisfaction guarantee.
          
        .col-sm-4.contact-content
          h2 Contact 
            span.thin Us
          ul.list-unstyled
            li.icon-phone (315) 523-0939
            li.icon-map Serving Auburn, Skaneateles,
            li Elbridge, Camillus, Weedsport, Port Byron, Cayuga, Union Springs, Seneca Falls, Waterloo, Geneva and surrounding areas.
