footer#footer.footer
  .container
    .to-top-button
      a(href="#top" title="Back to top") Back to top
    span &copy; 2015 Joe Shannon's Clean Carpet | Website by 
      a(href='http://imageagent.net/', title='Image Agent | Finger Lakes Creative Agency') Image Agent