#top.contact-bar Call today: (315) 523-0939

.header
  .container
    .row
      .flx-logo-wrap.col-sm-6
        h1 Joe Shannon's Clean Carpet

      .flx-nav-wrap.col-sm-6
        ul.nav.nav-pills
          li
            a(href="#about" title="About Us") About
          li
            a(href="#services" title="Services") Services
          li
            a(href="#contact" title="Contact Us") Contact