section#specials.main.specials
  .container
    h2 Special Deals!
    .row
      .col-sm-6
        img(src="images/special-steam.png", alt="Steam Cleaning Special")
      .col-sm-6
        img(src="images/special-furniture.png", alt="Furniture Cleaning Special")